[submodule "Project/Libs/C++/WebKit/orig"]
	path = Project/Libs/Cpp/WebKit/orig
	url = https://github.com/NearlyTRex/WebKit
	branch = main
[submodule "Project/Libs/C++/MicroPather/orig"]
	path = Project/Libs/Cpp/MicroPather/orig
	url = https://github.com/NearlyTRex/MicroPather
	branch = master
[submodule "Project/Libs/C++/Boost/orig"]
	path = Project/Libs/Cpp/Boost/orig
	url = https://github.com/NearlyTRex/Boost
	branch = master
[submodule "Project/Libs/C++/Backward/orig"]
	path = Project/Libs/Cpp/Backward/orig
	url = https://github.com/NearlyTRex/Backward
	branch = master
[submodule "Project/Libs/C++/BetterEnums/orig"]
	path = Project/Libs/Cpp/BetterEnums/orig
	url = https://github.com/NearlyTRex/BetterEnums
	branch = master
[submodule "Project/Libs/C++/Date/orig"]
	path = Project/Libs/Cpp/Date/orig
	url = https://github.com/NearlyTRex/Date
	branch = master
[submodule "Project/Libs/C++/FantasyName/orig"]
	path = Project/Libs/Cpp/FantasyName/orig
	url = https://github.com/NearlyTRex/FantasyName
	branch = master
[submodule "Project/Libs/C++/ImmutableString/orig"]
	path = Project/Libs/Cpp/ImmutableString/orig
	url = https://github.com/NearlyTRex/ImmutableString
	branch = develop
[submodule "Project/Libs/C++/Json/orig"]
	path = Project/Libs/Cpp/Json/orig
	url = https://github.com/NearlyTRex/Json
	branch = develop
[submodule "Project/Libs/C++/LRUCache/orig"]
	path = Project/Libs/Cpp/LRUCache/orig
	url = https://github.com/NearlyTRex/LRUCache
	branch = master
[submodule "Project/Libs/C++/ObjectThreadsafe/orig"]
	path = Project/Libs/Cpp/ObjectThreadsafe/orig
	url = https://github.com/NearlyTRex/ObjectThreadsafe
	branch = master
[submodule "Project/Libs/C++/SpdLog/orig"]
	path = Project/Libs/Cpp/SpdLog/orig
	url = https://github.com/NearlyTRex/SpdLog
    branch = v1.x
[submodule "Project/Libs/C/Zlib/orig"]
	path = Project/Libs/C/Zlib/orig
	url = https://github.com/NearlyTRex/Zlib
	branch = master
[submodule "Project/Libs/JavaScript/Bootstrap/orig"]
	path = Project/Libs/JavaScript/Bootstrap/orig
	url = https://github.com/NearlyTRex/Bootstrap
	branch = main
[submodule "Project/Libs/JavaScript/jQuery/orig"]
	path = Project/Libs/JavaScript/jQuery/orig
	url = https://github.com/NearlyTRex/jQuery
	branch = main
[submodule "Project/Libs/JavaScript/jQueryTerminal/orig"]
	path = Project/Libs/JavaScript/jQueryTerminal/orig
	url = https://github.com/NearlyTRex/jQueryTerminal
	branch = master
[submodule "Project/Libs/JavaScript/Phaser/orig"]
	path = Project/Libs/JavaScript/Phaser/orig
	url = https://github.com/NearlyTRex/Phaser
	branch = master
[submodule "Project/Libs/JavaScript/Polyfill/orig"]
	path = Project/Libs/JavaScript/Polyfill/orig
	url = https://github.com/NearlyTRex/Polyfill
	branch = master
[submodule "Project/Libs/JavaScript/Screenfull/orig"]
	path = Project/Libs/JavaScript/Screenfull/orig
	url = https://github.com/NearlyTRex/Screenfull
	branch = main
[submodule "Project/Libs/Python/PyJSMin/orig"]
	path = Project/Libs/Python/PyJSMin/orig
	url = https://github.com/NearlyTRex/PyJSMin
	branch = master
[submodule "Project/Programs/Tiled/orig"]
	path = Project/Programs/Tiled/orig
	url = https://github.com/NearlyTRex/Tiled
	branch = master
[submodule "Project/Programs/CJSMin/orig"]
	path = Project/Programs/CJSMin/orig
	url = https://github.com/NearlyTRex/CJSMin
	branch = master
[submodule "Project/Programs/Premake/orig"]
	path = Project/Programs/Premake/orig
	url = https://github.com/NearlyTRex/Premake
	branch = master
[submodule "Project/Programs/UnZip/orig"]
	path = Project/Programs/UnZip/orig
	url = https://github.com/NearlyTRex/UnZip
	branch = master
[submodule "Project/Programs/Zip/orig"]
	path = Project/Programs/Zip/orig
	url = https://github.com/NearlyTRex/Zip
	branch = master
